* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: skyblue; */
    text-align: center;
}

.container {
    /* height: 756px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cal {
    height: 630px;
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: black;
}

.button {
    height: 109px;
    width: 108px;
    border-radius: 16px;
    border: none;
    font-size: 50px;
    color: black;
    background-color: wheat;
    border: 1px solid black;
}

.buttonzero {
    height: 109px;
    width: 229px;
    border-radius: 16px;
    border: none;
    font-size: 50px;
    color: black;
    background-color: wheat;
    border: 1px solid black;
}

.buttonequal {
    height: 109px;
    width: 229px;
    border-radius: 16px;
    border: none;
    font-size: 50px;
    color: black;
    background-color: wheat;
    border: 1px solid black;
}

.buttonclear {
    height: 109px;
    width: 229px;
    border-radius: 16px;
    border: none;
    font-size: 50px;
    color: black;
    background-color: wheat;
    border: 1px solid black;
}

#txt {
    margin-top: 20px;
    text-align: left;
    background-color: wheat;
    border: 2px solid black;
    height: 70px;
    width: 555px;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 50px;
    padding: 20px;
}

#txtbutton {
    text-align: left;
    background-color: wheat;
    border: 2px solid black;
    height: 77px;
    width: 483px;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 50px;
}