* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    text-align: center;
    /* height: 393px;
    max-width: 1000px;
    position: relative;
    margin: auto; */
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 10px;
    margin-top: 30px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border: 2px solid black;
}

.next {
    right: 700px;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 700px;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Number text (1/6 etc) */
.numbertext {
    left: 520px;
    color: rgb(13, 131, 241);
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* @media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
} */