* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: skyblue; */
    text-align: center;
}

.container {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game {
    height: 355px;
    width: 460px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.button {
    height: 109px;
    width: 108px;
    border-radius: 16px;
    border: none;
    font-size: 50px;
    color: black;
    background-color: wheat;
    border: 1px solid black;
}