* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game {
    /* height: 355px; */
    width: 284px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.button {
    border: none;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 24px; */
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    font-size: 50px;
    color: black;
    background-color: papayawhip;
}

.button:active {
    outline: none;
}

/* Player turn space */
#print {
    font-family: Verdana,
        Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 20px;
}